{
  "openapi": "3.1.0",
  "info": {
    "title": "PermitStack",
    "description": "\n## PermitStack Building Permit API\n\nAccess 110M+ building permits across 8,000+ U.S. cities in 48 states and DC (810 active data sources including counties and statewide feeds, plus 75 historical archives), drawn from official city and county permit systems and open-data portals and re-ingested nightly for most sources.\n\n### Getting started\n1. Sign up at [permit-stack.com](https://permit-stack.com/#pricing) for a free API key (100 req/day)\n2. Pass your key as `X-API-Key` header on every request\n3. See the `/v1/permits/search` endpoint to get started\n\n### Rate limits\nTier       | Requests/min | Requests/day\n-----------|--------------|-------------\nFree       | 30           | 100\nIndie      | 30           | 1,000\nHobbyist   | 30           | 2,500\nDeveloper  | 60           | 10,000\nBusiness   | 200          | 100,000\nScale      | 500          | 500,000\n\nFree keys cover the last 30 days of permits; every paid tier has full historical access.\nHigher volume or custom terms: support@permit-stack.com\n\n### Support\nsupport@permit-stack.com\n",
    "termsOfService": "https://permit-stack.com/terms.html",
    "contact": {
      "name": "PermitStack Support",
      "url": "https://permit-stack.com/",
      "email": "support@permit-stack.com"
    },
    "license": {
      "name": "Commercial -- see Terms",
      "url": "https://permit-stack.com/terms.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.permit-stack.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health Check",
        "operationId": "health_check",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/stats": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Public Stats",
        "description": "Public stats endpoint \u2014 no auth required.\nReturns aggregate coverage numbers for marketing/transparency.\nCached server-side for 30 minutes.",
        "operationId": "public_stats",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/permits/search": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Search Permits",
        "description": "Search building permits by location, date, category, contractor and more.\n\nFilters combine with AND. Supply at least one narrowing filter -- a city, ZIP,\njurisdiction, date range or lat/lng radius -- for a query that returns quickly.\n\nResults are paginated and ordered newest-first on the permit's best available date\n(`date_issued`, falling back to `date_filed`). `total` is exact up to 10,000; beyond\nthat it stops counting and returns `total: 10000` with `total_capped: true`, meaning\n\"10,000 or more\". If the count cannot finish in time the response carries\n`total: null` with `total_unknown: true` -- an unknown total is reported as unknown\nand never as a number. Rows are unaffected either way; page through them normally.\n\n`category=hvac` matches HVAC and MECHANICAL together, because AC and furnace work is\nfiled under either depending on the city. Unknown parameter names are rejected with a\n400 rather than ignored, so a typo can never silently return unfiltered results.\n\nFree-tier keys are limited to a recent window; paid tiers have full history.",
        "operationId": "search_permits",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "5-digit ZIP code",
              "title": "Zip Code"
            },
            "description": "5-digit ZIP code"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Jurisdiction name (e.g. 'Wake County', 'Tacoma') or partial match",
              "title": "Jurisdiction"
            },
            "description": "Jurisdiction name (e.g. 'Wake County', 'Tacoma') or partial match"
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Street address, partial + case-insensitive (e.g. '1600 Pennsylvania') \u2014 indexed, fast",
              "title": "Address"
            },
            "description": "Street address, partial + case-insensitive (e.g. '1600 Pennsylvania') \u2014 indexed, fast"
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Latitude for radius search",
              "title": "Lat"
            },
            "description": "Latitude for radius search"
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Longitude for radius search",
              "title": "Lng"
            },
            "description": "Longitude for radius search"
          },
          {
            "name": "radius_miles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 50,
              "description": "Radius in miles (used with lat/lng)",
              "default": 5.0,
              "title": "Radius Miles"
            },
            "description": "Radius in miles (used with lat/lng)"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "'summary' (default) or 'full'. With 'full' each result is a PermitDetail rather than a PermitSummary -- the same nine extra columns GET /v1/permits/{id} returns (record_kind, date_expired, fee_amount, stories, units, square_footage, applicant_name, contractor_license, created_at) -- so you do not fetch them one permit at a time. See the PermitDetail schema for their types; the declared response schema here is PermitSummary, which is the default shape. Developer plan and above.",
              "default": "summary",
              "title": "Fields"
            },
            "description": "'summary' (default) or 'full'. With 'full' each result is a PermitDetail rather than a PermitSummary -- the same nine extra columns GET /v1/permits/{id} returns (record_kind, date_expired, fee_amount, stories, units, square_footage, applicant_name, contractor_license, created_at) -- so you do not fetch them one permit at a time. See the PermitDetail schema for their types; the declared response schema here is PermitSummary, which is the default shape. Developer plan and above."
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Map-viewport bounding box 'minLng,minLat,maxLng,maxLat'. Returns permits whose location falls inside the box (geocoded permits only).",
              "title": "Bbox"
            },
            "description": "Map-viewport bounding box 'minLng,minLat,maxLng,maxLat'. Returns permits whose location falls inside the box (geocoded permits only)."
          },
          {
            "name": "polygon",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "A drawn area as a GeoJSON Polygon geometry (URL-encoded), e.g. {\"type\":\"Polygon\",\"coordinates\":[[[lng,lat],...]]}. Returns permits inside the polygon (geocoded permits only).",
              "title": "Polygon"
            },
            "description": "A drawn area as a GeoJSON Polygon geometry (URL-encoded), e.g. {\"type\":\"Polygon\",\"coordinates\":[[[lng,lat],...]]}. Returns permits inside the polygon (geocoded permits only)."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Permit category (e.g. solar, SOLAR, roofing, hvac \u2014 case insensitive)",
              "title": "Category"
            },
            "description": "Permit category (e.g. solar, SOLAR, roofing, hvac \u2014 case insensitive)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PermitStatus"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Permit status (e.g. issued, filed, final)",
              "title": "Status"
            },
            "description": "Permit status (e.g. issued, filed, final)"
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PropertyType"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Property type (e.g. residential, commercial)",
              "title": "Property Type"
            },
            "description": "Property type (e.g. residential, commercial)"
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by tag",
              "title": "Tag"
            },
            "description": "Filter by tag"
          },
          {
            "name": "record_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Record kind: 'permit' (default, building permits only), 'contractor', 'tag', 'non_building', 'admin', or 'all'",
              "default": "permit",
              "title": "Record Kind"
            },
            "description": "Record kind: 'permit' (default, building permits only), 'contractor', 'tag', 'non_building', 'admin', or 'all'"
          },
          {
            "name": "filed_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filed on or after this date",
              "title": "Filed After"
            },
            "description": "Filed on or after this date"
          },
          {
            "name": "filed_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filed on or before this date",
              "title": "Filed Before"
            },
            "description": "Filed on or before this date"
          },
          {
            "name": "issued_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Issued on or after this date",
              "title": "Issued After"
            },
            "description": "Issued on or after this date"
          },
          {
            "name": "issued_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Issued on or before this date",
              "title": "Issued Before"
            },
            "description": "Issued on or before this date"
          },
          {
            "name": "date_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "On or after this date, matched against whichever date a record has (issued, else filed). Use this when a source populates only one of issued/filed \u2014 e.g. issued-only feeds vs filed-only feeds.",
              "title": "Date After"
            },
            "description": "On or after this date, matched against whichever date a record has (issued, else filed). Use this when a source populates only one of issued/filed \u2014 e.g. issued-only feeds vs filed-only feeds."
          },
          {
            "name": "date_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "On or before this date, matched against whichever date a record has (issued, else filed).",
              "title": "Date Before"
            },
            "description": "On or before this date, matched against whichever date a record has (issued, else filed)."
          },
          {
            "name": "parcel",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Parcel number / APN / folio (formatting ignored). Returns permits on that parcel where the source publishes one.",
              "title": "Parcel"
            },
            "description": "Parcel number / APN / folio (formatting ignored). Returns permits on that parcel where the source publishes one."
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum estimated value",
              "title": "Min Value"
            },
            "description": "Minimum estimated value"
          },
          {
            "name": "max_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum estimated value",
              "title": "Max Value"
            },
            "description": "Maximum estimated value"
          },
          {
            "name": "min_solar_kw",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum extracted solar system size (kW DC)",
              "title": "Min Solar Kw"
            },
            "description": "Minimum extracted solar system size (kW DC)"
          },
          {
            "name": "max_solar_kw",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum extracted solar system size (kW DC)",
              "title": "Max Solar Kw"
            },
            "description": "Maximum extracted solar system size (kW DC)"
          },
          {
            "name": "min_sqft",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum square footage mentioned (from enrichment)",
              "title": "Min Sqft"
            },
            "description": "Minimum square footage mentioned (from enrichment)"
          },
          {
            "name": "has_enrichment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only permits that have (true) or lack (false) LLM enrichment",
              "title": "Has Enrichment"
            },
            "description": "Only permits that have (true) or lack (false) LLM enrichment"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Substring match on the enriched work scope",
              "title": "Scope"
            },
            "description": "Substring match on the enriched work scope"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive substring match across description, address, and permit number. Terms under 3 characters are matched but not counted: `total` is null with total_unknown=true (a 1-2 character term has no trigram index and the count would cost tens of seconds).",
              "title": "Q"
            },
            "description": "Case-insensitive substring match across description, address, and permit number. Terms under 3 characters are matched but not counted: `total` is null with total_unknown=true (a 1-2 character term has no trigram index and the count would cost tens of seconds)."
          },
          {
            "name": "contractor_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Contractor name (partial match)",
              "title": "Contractor Name"
            },
            "description": "Contractor name (partial match)"
          },
          {
            "name": "owner_filed",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "true = owner-filed permits only (no contractor on record but an owner name is present \u2014 often a DIY/homeowner lead, though for feeds that don't capture contractors the owner may be a builder or institution); false = permits that have a contractor",
              "title": "Owner Filed"
            },
            "description": "true = owner-filed permits only (no contractor on record but an owner name is present \u2014 often a DIY/homeowner lead, though for feeds that don't capture contractors the owner may be a builder or institution); false = permits that have a contractor"
          },
          {
            "name": "has_owner_address",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "true = only permits that carry a property-owner mailing address; false = only those that do not. Coverage varies sharply by jurisdiction (we hold the county assessor roll for some and not others), so this is a targeting filter rather than a defect: it returns exactly the rows that are actionable. The address itself is visible on Business and above.",
              "title": "Has Owner Address"
            },
            "description": "true = only permits that carry a property-owner mailing address; false = only those that do not. Coverage varies sharply by jurisdiction (we hold the county assessor roll for some and not others), so this is a targeting filter rather than a defect: it returns exactly the rows that are actionable. The address itself is visible on Business and above."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Results per page. Above your plan's maximum this is clamped, not rejected; the response echoes the per_page actually applied.",
              "default": 25,
              "title": "Per Page"
            },
            "description": "Results per page. Above your plan's maximum this is clamped, not rejected; the response echoes the per_page actually applied."
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `q`.",
              "deprecated": true,
              "title": "Keyword"
            },
            "description": "Alias of `q`.",
            "deprecated": true
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_after`.",
              "deprecated": true,
              "title": "Date From"
            },
            "description": "Alias of `date_after`.",
            "deprecated": true
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_before`.",
              "deprecated": true,
              "title": "Date To"
            },
            "description": "Alias of `date_before`.",
            "deprecated": true
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_after`.",
              "deprecated": true,
              "title": "Start Date"
            },
            "description": "Alias of `date_after`.",
            "deprecated": true
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_before`.",
              "deprecated": true,
              "title": "End Date"
            },
            "description": "Alias of `date_before`.",
            "deprecated": true
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `per_page`. Clamped to your plan's maximum, not rejected.",
              "deprecated": true,
              "title": "Limit"
            },
            "description": "Alias of `per_page`. Clamped to your plan's maximum, not rejected.",
            "deprecated": true
          },
          {
            "name": "count_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Return only the total for these filters -- no permit records. Skips the row fetch entirely, so it is markedly cheaper for both of us when you are sizing a query rather than reading it. `results` comes back empty and `total_capped` / `total_unknown` mean exactly what they always do.",
              "default": false,
              "title": "Count Only"
            },
            "description": "Return only the total for these filters -- no permit records. Skips the row fetch entirely, so it is markedly cheaper for both of us when you are sizing a query rather than reading it. `results` comes back empty and `total_capped` / `total_unknown` mean exactly what they always do."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Pass a key as the `X-API-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded -- either the per-minute burst or the daily cap for your plan. Retry after the window resets; the daily cap resets at UTC midnight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Rate limit exceeded: 30 requests per minute"
                }
              }
            }
          },
          "403": {
            "description": "Your plan does not include this endpoint, or an option you passed. The body is machine-readable: `error` is `feature_locked`, `feature` names the gate, `upgrade_url` links to the cheapest plan that unlocks it, and `current_tier` is the plan you are on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureLocked"
                },
                "example": {
                  "detail": {
                    "error": "feature_locked",
                    "feature": "full_fields",
                    "message": "fields=full is available on Developer ($79/mo) and above.",
                    "upgrade_url": "https://permit-stack.com/?plan=developer&feature=full_fields#pricing",
                    "current_tier": "Indie"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/export": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Export Permits",
        "description": "Export permits matching filters as CSV. Tier-gated row limits.",
        "operationId": "export_permits",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Zip Code"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "City"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "State"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PermitStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PropertyType"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Property Type"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Tag"
            }
          },
          {
            "name": "record_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "permit",
              "title": "Record Kind"
            }
          },
          {
            "name": "filed_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filed After"
            }
          },
          {
            "name": "filed_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filed Before"
            }
          },
          {
            "name": "issued_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Issued After"
            }
          },
          {
            "name": "issued_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Issued Before"
            }
          },
          {
            "name": "date_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "On or after this date, matched against whichever date a record has (issued, else filed).",
              "title": "Date After"
            },
            "description": "On or after this date, matched against whichever date a record has (issued, else filed)."
          },
          {
            "name": "date_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "On or before this date, matched against whichever date a record has (issued, else filed).",
              "title": "Date Before"
            },
            "description": "On or before this date, matched against whichever date a record has (issued, else filed)."
          },
          {
            "name": "parcel",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Parcel number / APN / folio (formatting ignored).",
              "title": "Parcel"
            },
            "description": "Parcel number / APN / folio (formatting ignored)."
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Value"
            }
          },
          {
            "name": "max_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Value"
            }
          },
          {
            "name": "min_solar_kw",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Solar Kw"
            }
          },
          {
            "name": "max_solar_kw",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Solar Kw"
            }
          },
          {
            "name": "min_sqft",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Sqft"
            }
          },
          {
            "name": "has_enrichment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Has Enrichment"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Scope"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "contractor_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Contractor Name"
            }
          },
          {
            "name": "owner_filed",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "true = owner-filed permits only (no contractor on record, owner name present \u2014 often DIY/homeowner leads, though for feeds without contractor capture the owner may be a builder/institution); false = permits that have a contractor",
              "title": "Owner Filed"
            },
            "description": "true = owner-filed permits only (no contractor on record, owner name present \u2014 often DIY/homeowner leads, though for feeds without contractor capture the owner may be a builder/institution); false = permits that have a contractor"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "A jurisdiction's id (from /v1/jurisdictions) or its name, partial and case-insensitive -- the same matching as /v1/permits/search. Lets a full load be partitioned along the coverage list.",
              "title": "Jurisdiction"
            },
            "description": "A jurisdiction's id (from /v1/jurisdictions) or its name, partial and case-insensitive -- the same matching as /v1/permits/search. Lets a full load be partitioned along the coverage list."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000000,
              "minimum": 1,
              "description": "Rows to return, up to your plan's export maximum (a larger value is refused with 403, never silently lowered). If more rows match than `limit`, the response header X-Permitstack-Truncated is `true`: narrow the filter or split the date range and export again.",
              "default": 1000,
              "title": "Limit"
            },
            "description": "Rows to return, up to your plan's export maximum (a larger value is refused with 403, never silently lowered). If more rows match than `limit`, the response header X-Permitstack-Truncated is `true`: narrow the filter or split the date range and export again."
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `q`.",
              "deprecated": true,
              "title": "Keyword"
            },
            "description": "Alias of `q`.",
            "deprecated": true
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_after`.",
              "deprecated": true,
              "title": "Date From"
            },
            "description": "Alias of `date_after`.",
            "deprecated": true
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_before`.",
              "deprecated": true,
              "title": "Date To"
            },
            "description": "Alias of `date_before`.",
            "deprecated": true
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_after`.",
              "deprecated": true,
              "title": "Start Date"
            },
            "description": "Alias of `date_after`.",
            "deprecated": true
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_before`.",
              "deprecated": true,
              "title": "End Date"
            },
            "description": "Alias of `date_before`.",
            "deprecated": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Pass a key as the `X-API-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded -- either the per-minute burst or the daily cap for your plan. Retry after the window resets; the daily cap resets at UTC midnight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Rate limit exceeded: 30 requests per minute"
                }
              }
            }
          },
          "403": {
            "description": "Your plan does not include this endpoint, or an option you passed. The body is machine-readable: `error` is `feature_locked`, `feature` names the gate, `upgrade_url` links to the cheapest plan that unlocks it, and `current_tier` is the plan you are on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureLocked"
                },
                "example": {
                  "detail": {
                    "error": "feature_locked",
                    "feature": "full_fields",
                    "message": "fields=full is available on Developer ($79/mo) and above.",
                    "upgrade_url": "https://permit-stack.com/?plan=developer&feature=full_fields#pricing",
                    "current_tier": "Indie"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/sync": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Sync Permits",
        "description": "Incremental data feed (change-data-capture). Page the dataset ordered by\n(updated_at, id). Omit `cursor` for the initial full load; persist `next_cursor` and pass\nit back after each nightly ingest to receive only new + changed permits. Upsert-only\n(deletes are not emitted).",
        "operationId": "sync_permits",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from the previous response's `next_cursor`. Omit to start the initial full sync from the beginning.",
              "title": "Cursor"
            },
            "description": "Opaque cursor from the previous response's `next_cursor`. Omit to start the initial full sync from the beginning."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alternative start point: an ISO-8601 UTC timestamp; returns permits with updated_at >= since. Ignored when `cursor` is supplied.",
              "title": "Since"
            },
            "description": "Alternative start point: an ISO-8601 UTC timestamp; returns permits with updated_at >= since. Ignored when `cursor` is supplied."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50000,
              "minimum": 1,
              "description": "Max permits per page (cursor page size, up to 50,000).",
              "default": 5000,
              "title": "Limit"
            },
            "description": "Max permits per page (cursor page size, up to 50,000)."
          },
          {
            "name": "record_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "'permit' (default), a specific record_kind, or 'all'.",
              "default": "permit",
              "title": "Record Kind"
            },
            "description": "'permit' (default), a specific record_kind, or 'all'."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional 2-letter state filter to scope the feed.",
              "title": "State"
            },
            "description": "Optional 2-letter state filter to scope the feed."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional category filter (e.g. solar, roofing).",
              "title": "Category"
            },
            "description": "Optional category filter (e.g. solar, roofing)."
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "'summary' (default) or 'full'. 'full' adds record_kind, date_expired, fee_amount, stories, units, square_footage, applicant_name, contractor_license and created_at to every record, so a mirror does not have to fetch them one permit at a time. OPT-IN: the default payload is unchanged apart from `contractor_id`, added on 2026-09-10 to every permit surface; widening a feed under a consumer with a strict schema is otherwise avoided.",
              "default": "summary",
              "title": "Fields"
            },
            "description": "'summary' (default) or 'full'. 'full' adds record_kind, date_expired, fee_amount, stories, units, square_footage, applicant_name, contractor_license and created_at to every record, so a mirror does not have to fetch them one permit at a time. OPT-IN: the default payload is unchanged apart from `contractor_id`, added on 2026-09-10 to every permit surface; widening a feed under a consumer with a strict schema is otherwise avoided."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of permits in (updated_at, id) order. Keep `next_cursor` and pass it back as `cursor` to resume; `has_more` is false once you are caught up. Each record in `results` has the /v1/permits/search fields (fields=summary) plus the extras listed under `fields=full`. Page size is `limit`, up to 50,000.",
            "content": {
              "application/json": {
                "schema": {},
                "example": {
                  "results": [
                    {
                      "id": "0f6a8f3e-5b1d-4d53-9d0e-2f1b5c8a7e21",
                      "permit_number": "BP-2026-01234",
                      "status": "ISSUED",
                      "category": "ROOFING",
                      "tags": [
                        "roofing"
                      ],
                      "property_type": "COMMERCIAL",
                      "address_street": "100 MAIN ST",
                      "address_city": "AUSTIN",
                      "address_state": "TX",
                      "address_zip": "78701",
                      "parcel_id": "0201010101",
                      "description_raw": "Re-roof, 12,000 sq ft TPO",
                      "estimated_value": 185000.0,
                      "date_filed": "2026-09-01",
                      "date_issued": "2026-09-10",
                      "contractor_name": "ACME ROOFING LLC",
                      "contractor_id": "6c1d2e3f-4a5b-6c7d-8e9f-0a1b2c3d4e5f",
                      "jurisdiction_name": "Austin",
                      "latitude": 30.2672,
                      "longitude": -97.7431
                    }
                  ],
                  "count": 1,
                  "has_more": true,
                  "next_cursor": "2026-09-30T03:08:28.999929+00:00|0f6a8f3e-5b1d-4d53-9d0e-2f1b5c8a7e21"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Pass a key as the `X-API-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded -- either the per-minute burst or the daily cap for your plan. Retry after the window resets; the daily cap resets at UTC midnight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Rate limit exceeded: 30 requests per minute"
                }
              }
            }
          },
          "403": {
            "description": "Your plan does not include this endpoint, or an option you passed. The body is machine-readable: `error` is `feature_locked`, `feature` names the gate, `upgrade_url` links to the cheapest plan that unlocks it, and `current_tier` is the plan you are on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureLocked"
                },
                "example": {
                  "detail": {
                    "error": "feature_locked",
                    "feature": "full_fields",
                    "message": "fields=full is available on Developer ($79/mo) and above.",
                    "upgrade_url": "https://permit-stack.com/?plan=developer&feature=full_fields#pricing",
                    "current_tier": "Indie"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/events": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "List Permit Events",
        "description": "What CHANGED, instead of re-reading everything: permit transitions\n(new_permit, status_change, issued, completed, expired) built from the daily\ningest diff, filterable by city, state, category and jurisdiction.\n\n**This is the endpoint to poll on a schedule, and `cursor` is how to poll it.**\nSave the `next_cursor` from each response and pass it back as `cursor` on the\nnext call; you then receive only what you have not already seen, in the order it\nwas detected, with no duplicates and no gap. Page until a response comes back\nshorter than `per_page`, save that last `next_cursor`, and resume there tomorrow.\n\n**WHERE YOU START MATTERS, AND THE FIRST CALL DOES NOT START AT THE BEGINNING.**\nA call with NO cursor returns the NEWEST events and its `next_cursor` is the\nfrontier -- a watermark at \"now\". Pass it straight back and you correctly get 0\nresults, because you have just declared yourself caught up. That is exactly what\na poller wants: from here on you receive everything new. It is NOT a backfill,\nand it will not walk history for you -- there are 75,544 events behind that\nwatermark for the Tampa filter below alone.\n\nTo start somewhere else, build the cursor yourself: it is\n`<ISO-8601 timestamp>|<event id>`, and `|0` is a valid id floor.\n\n    # start polling from now (typical):\n    GET /v1/permits/events?city=Tampa&state=FL&category=roofing\n        &event_type=new_permit                       -> save next_cursor\n    # ...then, from the next call onward:\n    GET ...&cursor=2026-09-08T04%3A09%3A16.381111%2B00%3A00%7C51823904\n\n    # start from a chosen point instead (backfill the last 30 days, then keep polling):\n    GET ...&cursor=2026-08-11T00%3A00%3A00%2B00%3A00%7C0\n\nOne call answers what a paged re-pull of /v1/permits/search costs hundreds of.\nMeasured 2026-09-09, that Tampa query returns **38 records in a single call**;\nthe same question asked by re-pulling search pages 1-100 twelve times a day\ncosts ~9,600 requests and runs into the daily cap.\n\n`detected_after` still works and is fine for an ad-hoc look at a window, but it\nis the wrong tool for a poller: it is INCLUSIVE, and one ingest batch stamps\nthousands of events with a single identical `detected_at` (measured 2026-09-10:\n3,688 timestamps carry over 1,000 events each, the largest 1,370,561). A poller\nthat stores the newest `detected_at` and passes it back therefore re-receives\nthat whole batch every time. `cursor` breaks the tie on the event id and does not.\n\nSupplying a `cursor` returns events oldest-unseen first, which is what lets a\nbatch be paged safely; without one you get the newest first, for browsing.\n`cursor` and `page` are alternatives -- passing both is a 400 rather than a\nsilently skipped page.\n\nIngest runs once a day, so a daily poll is enough; `detected_at` is when WE saw\nthe change, not when the city recorded it. For push instead of poll, register a\nwebhook (developer tier and above) and skip the polling entirely.",
        "operationId": "list_permit_events",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event type: new_permit, status_change, issued, completed, expired (the permit's expiration date has passed without it being finished; emitted when that date arrives)",
              "title": "Event Type"
            },
            "description": "Filter by event type: new_permit, status_change, issued, completed, expired (the permit's expiration date has passed without it being finished; emitted when that date arrives)"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Permit category (e.g. solar, battery)",
              "title": "Category"
            },
            "description": "Permit category (e.g. solar, battery)"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Jurisdiction name (partial)",
              "title": "Jurisdiction"
            },
            "description": "Jurisdiction name (partial)"
          },
          {
            "name": "permit_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Events for a single permit id",
              "title": "Permit Id"
            },
            "description": "Events for a single permit id"
          },
          {
            "name": "detected_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only events detected on/after this UTC timestamp (ISO 8601). Inclusive, so a batch sharing one timestamp is re-delivered; prefer `cursor` for polling.",
              "title": "Detected After"
            },
            "description": "Only events detected on/after this UTC timestamp (ISO 8601). Inclusive, so a batch sharing one timestamp is re-delivered; prefer `cursor` for polling."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from the previous response's `next_cursor`. Resumes exactly where you stopped, with no duplicates and no gap. Omit on the first call.",
              "title": "Cursor"
            },
            "description": "Opaque cursor from the previous response's `next_cursor`. Resumes exactly where you stopped, with no duplicates and no gap. Omit on the first call."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Per Page"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `per_page`. Clamped to 100, not rejected.",
              "deprecated": true,
              "title": "Limit"
            },
            "description": "Alias of `per_page`. Clamped to 100, not rejected.",
            "deprecated": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitEventsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Pass a key as the `X-API-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded -- either the per-minute burst or the daily cap for your plan. Retry after the window resets; the daily cap resets at UTC midnight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Rate limit exceeded: 30 requests per minute"
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/{permit_id}": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Get Permit",
        "description": "Get full details for a single permit.",
        "operationId": "get_permit",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "permit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Permit Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Pass a key as the `X-API-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded -- either the per-minute burst or the daily cap for your plan. Retry after the window resets; the daily cap resets at UTC midnight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Rate limit exceeded: 30 requests per minute"
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/address/{address}": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Get Permits By Address",
        "description": "Get all permits for a specific address (partial match).",
        "operationId": "get_permits_by_address",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Address"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Per Page"
            }
          },
          {
            "name": "record_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "'permit' (default), a specific record_kind, or 'all'.",
              "default": "permit",
              "title": "Record Kind"
            },
            "description": "'permit' (default), a specific record_kind, or 'all'."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Pass a key as the `X-API-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded -- either the per-minute burst or the daily cap for your plan. Retry after the window resets; the daily cap resets at UTC midnight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Rate limit exceeded: 30 requests per minute"
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/stats/coverage": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Get Coverage Stats",
        "description": "Coverage statistics: total permits, every jurisdiction we hold, and the counties they fall in.\n\nEach jurisdiction carries `data_through` (the newest permit we actually hold, measured),\nplus `county` / `county_fips` (the county most of its permits fall in) and `counties`\n(the full measured mix with a `share` of the sample per county, since some cities straddle\na county line). `counties` at the top level is the same data keyed by county, listing the\njurisdictions whose permits fall in each one. A null county means not measured, which is\nthe case for statewide feeds that publish no coordinates.",
        "operationId": "get_coverage_stats",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Pass a key as the `X-API-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded -- either the per-minute burst or the daily cap for your plan. Retry after the window resets; the daily cap resets at UTC midnight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Rate limit exceeded: 30 requests per minute"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ]
      }
    },
    "/v1/plays": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "List Plays",
        "description": "List available trade plays and their parameters.",
        "operationId": "list_plays",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Pass a key as the `X-API-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded -- either the per-minute burst or the daily cap for your plan. Retry after the window resets; the daily cap resets at UTC midnight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Rate limit exceeded: 30 requests per minute"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ]
      }
    },
    "/v1/plays/system-age": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "System Age",
        "description": "Addresses whose LATEST permit in the trade is min\u2013max years old with nothing\nsince \u2014 the system is statistically due for replacement. Only trades with a real\nlifecycle are supported (roofing, hvac, mechanical, solar=repower, pool).",
        "operationId": "system_age",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "trade",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "roofing | hvac | mechanical | solar | pool",
              "title": "Trade"
            },
            "description": "roofing | hvac | mechanical | solar | pool"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "5-digit ZIP",
              "title": "Zip Code"
            },
            "description": "5-digit ZIP"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Jurisdiction name (partial)",
              "title": "Jurisdiction"
            },
            "description": "Jurisdiction name (partial)"
          },
          {
            "name": "min_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 40,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Override the trade's default minimum age",
              "title": "Min Age Years"
            },
            "description": "Override the trade's default minimum age"
          },
          {
            "name": "max_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 60,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Override the trade's default maximum age",
              "title": "Max Age Years"
            },
            "description": "Override the trade's default maximum age"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Pass a key as the `X-API-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded -- either the per-minute burst or the daily cap for your plan. Retry after the window resets; the daily cap resets at UTC midnight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Rate limit exceeded: 30 requests per minute"
                }
              }
            }
          },
          "403": {
            "description": "Your plan does not include this endpoint, or an option you passed. The body is machine-readable: `error` is `feature_locked`, `feature` names the gate, `upgrade_url` links to the cheapest plan that unlocks it, and `current_tier` is the plan you are on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureLocked"
                },
                "example": {
                  "detail": {
                    "error": "feature_locked",
                    "feature": "full_fields",
                    "message": "fields=full is available on Developer ($79/mo) and above.",
                    "upgrade_url": "https://permit-stack.com/?plan=developer&feature=full_fields#pricing",
                    "current_tier": "Indie"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/plays/battery-retrofit-candidates": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Battery Retrofit Candidates",
        "description": "Solar permits aged between min/max years whose address has NO battery permit\non file \u2014 the storage-retrofit lead list. Requires a location filter.",
        "operationId": "battery_retrofit_candidates",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "5-digit ZIP",
              "title": "Zip Code"
            },
            "description": "5-digit ZIP"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Jurisdiction name (partial)",
              "title": "Jurisdiction"
            },
            "description": "Jurisdiction name (partial)"
          },
          {
            "name": "min_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 30,
              "minimum": 0,
              "description": "Minimum age of the PV permit, in years",
              "default": 2,
              "title": "Min Age Years"
            },
            "description": "Minimum age of the PV permit, in years"
          },
          {
            "name": "max_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 40,
              "minimum": 0,
              "description": "Maximum age of the PV permit, in years",
              "default": 7,
              "title": "Max Age Years"
            },
            "description": "Maximum age of the PV permit, in years"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Pass a key as the `X-API-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded -- either the per-minute burst or the daily cap for your plan. Retry after the window resets; the daily cap resets at UTC midnight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Rate limit exceeded: 30 requests per minute"
                }
              }
            }
          },
          "403": {
            "description": "Your plan does not include this endpoint, or an option you passed. The body is machine-readable: `error` is `feature_locked`, `feature` names the gate, `upgrade_url` links to the cheapest plan that unlocks it, and `current_tier` is the plan you are on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureLocked"
                },
                "example": {
                  "detail": {
                    "error": "feature_locked",
                    "feature": "full_fields",
                    "message": "fields=full is available on Developer ($79/mo) and above.",
                    "upgrade_url": "https://permit-stack.com/?plan=developer&feature=full_fields#pricing",
                    "current_tier": "Indie"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/plays/reroof-due": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Reroof Due",
        "description": "Roofing permits aged min-max years whose address has NO newer roofing permit \u2014\nhomes whose roof is statistically due for replacement. Alias of\n/v1/plays/system-age?trade=roofing (kept as the discoverable roofing-first name).",
        "operationId": "reroof_due",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "5-digit ZIP",
              "title": "Zip Code"
            },
            "description": "5-digit ZIP"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Jurisdiction name (partial)",
              "title": "Jurisdiction"
            },
            "description": "Jurisdiction name (partial)"
          },
          {
            "name": "min_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 40,
              "minimum": 1,
              "description": "Minimum age of the roofing permit, in years",
              "default": 12,
              "title": "Min Age Years"
            },
            "description": "Minimum age of the roofing permit, in years"
          },
          {
            "name": "max_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 60,
              "minimum": 1,
              "description": "Maximum age of the roofing permit, in years",
              "default": 25,
              "title": "Max Age Years"
            },
            "description": "Maximum age of the roofing permit, in years"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Pass a key as the `X-API-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Invalid API key"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded -- either the per-minute burst or the daily cap for your plan. Retry after the window resets; the daily cap resets at UTC midnight.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                },
                "example": {
                  "detail": "Rate limit exceeded: 30 requests per minute"
                }
              }
            }
          },
          "403": {
            "description": "Your plan does not include this endpoint, or an option you passed. The body is machine-readable: `error` is `feature_locked`, `feature` names the gate, `upgrade_url` links to the cheapest plan that unlocks it, and `current_tier` is the plan you are on.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureLocked"
                },
                "example": {
                  "detail": {
                    "error": "feature_locked",
                    "feature": "full_fields",
                    "message": "fields=full is available on Developer ($79/mo) and above.",
                    "upgrade_url": "https://permit-stack.com/?plan=developer&feature=full_fields#pricing",
                    "current_tier": "Indie"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/plays/orphan-recovery": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Orphan Recovery",
        "description": "PV permits whose installer (contractor, applicant, or owner) matches `installer`\nin a territory \u2014 a named competitor's customer base. Requires a location filter.",
        "operationId": "orphan_recovery",
        "security": [
          {
            "ApiKey": []
          }
        ],
[...]
