{
  "openapi": "3.1.0",
  "info": {
    "title": "PermitStack",
    "description": "\n## PermitStack Building Permit API\n\nAccess 93M+ building permits across 8,000+ U.S. cities in 48 states and DC (761 active data sources including counties and statewide feeds, plus 73 historical archives), updated daily from official open data portals.\n\n### Getting started\n1. Sign up at [permit-stack.com](https://permit-stack.com/#pricing) for a free API key (100 req/day)\n2. Pass your key as `X-API-Key` header on every request\n3. See the `/v1/permits/search` endpoint to get started\n\n### Rate limits\nTier       | Requests/min | Requests/day\n-----------|--------------|-------------\nFree       | 30           | 100\nIndie      | 30           | 1,000\nHobbyist   | 30           | 2,500\nDeveloper  | 60           | 10,000\nBusiness   | 200          | 100,000\n\nFree keys cover the last 30 days of permits; every paid tier has full historical access.\nHigher volume or custom terms: support@permit-stack.com\n\n### Support\nsupport@permit-stack.com\n",
    "termsOfService": "https://permit-stack.com/terms.html",
    "contact": {
      "name": "PermitStack Support",
      "url": "https://permit-stack.com/",
      "email": "support@permit-stack.com"
    },
    "license": {
      "name": "Commercial -- see Terms",
      "url": "https://permit-stack.com/terms.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.permit-stack.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health Check",
        "operationId": "health_check",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/stats": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Public Stats",
        "description": "Public stats endpoint \u2014 no auth required.\nReturns aggregate coverage numbers for marketing/transparency.\nCached server-side for 30 minutes.",
        "operationId": "public_stats",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/permits/search": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Search Permits",
        "operationId": "search_permits",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "5-digit ZIP code",
              "title": "Zip Code"
            },
            "description": "5-digit ZIP code"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Jurisdiction name (e.g. 'Wake County', 'Tacoma') or partial match",
              "title": "Jurisdiction"
            },
            "description": "Jurisdiction name (e.g. 'Wake County', 'Tacoma') or partial match"
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Street address, partial + case-insensitive (e.g. '1600 Pennsylvania') \u2014 indexed, fast",
              "title": "Address"
            },
            "description": "Street address, partial + case-insensitive (e.g. '1600 Pennsylvania') \u2014 indexed, fast"
          },
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Latitude for radius search",
              "title": "Lat"
            },
            "description": "Latitude for radius search"
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Longitude for radius search",
              "title": "Lng"
            },
            "description": "Longitude for radius search"
          },
          {
            "name": "radius_miles",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 50,
              "description": "Radius in miles (used with lat/lng)",
              "default": 5.0,
              "title": "Radius Miles"
            },
            "description": "Radius in miles (used with lat/lng)"
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Map-viewport bounding box 'minLng,minLat,maxLng,maxLat'. Returns permits whose location falls inside the box (geocoded permits only).",
              "title": "Bbox"
            },
            "description": "Map-viewport bounding box 'minLng,minLat,maxLng,maxLat'. Returns permits whose location falls inside the box (geocoded permits only)."
          },
          {
            "name": "polygon",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "A drawn area as a GeoJSON Polygon geometry (URL-encoded), e.g. {\"type\":\"Polygon\",\"coordinates\":[[[lng,lat],...]]}. Returns permits inside the polygon (geocoded permits only).",
              "title": "Polygon"
            },
            "description": "A drawn area as a GeoJSON Polygon geometry (URL-encoded), e.g. {\"type\":\"Polygon\",\"coordinates\":[[[lng,lat],...]]}. Returns permits inside the polygon (geocoded permits only)."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Permit category (e.g. solar, SOLAR, roofing, hvac \u2014 case insensitive)",
              "title": "Category"
            },
            "description": "Permit category (e.g. solar, SOLAR, roofing, hvac \u2014 case insensitive)"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PermitStatus"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Permit status (e.g. issued, filed, final)",
              "title": "Status"
            },
            "description": "Permit status (e.g. issued, filed, final)"
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PropertyType"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Property type (e.g. residential, commercial)",
              "title": "Property Type"
            },
            "description": "Property type (e.g. residential, commercial)"
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by tag",
              "title": "Tag"
            },
            "description": "Filter by tag"
          },
          {
            "name": "record_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Record kind: 'permit' (default, building permits only), 'contractor', 'tag', 'non_building', 'admin', or 'all'",
              "default": "permit",
              "title": "Record Kind"
            },
            "description": "Record kind: 'permit' (default, building permits only), 'contractor', 'tag', 'non_building', 'admin', or 'all'"
          },
          {
            "name": "filed_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filed on or after this date",
              "title": "Filed After"
            },
            "description": "Filed on or after this date"
          },
          {
            "name": "filed_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filed on or before this date",
              "title": "Filed Before"
            },
            "description": "Filed on or before this date"
          },
          {
            "name": "issued_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Issued on or after this date",
              "title": "Issued After"
            },
            "description": "Issued on or after this date"
          },
          {
            "name": "issued_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Issued on or before this date",
              "title": "Issued Before"
            },
            "description": "Issued on or before this date"
          },
          {
            "name": "date_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "On or after this date, matched against whichever date a record has (issued, else filed). Use this when a source populates only one of issued/filed \u2014 e.g. issued-only feeds vs filed-only feeds.",
              "title": "Date After"
            },
            "description": "On or after this date, matched against whichever date a record has (issued, else filed). Use this when a source populates only one of issued/filed \u2014 e.g. issued-only feeds vs filed-only feeds."
          },
          {
            "name": "date_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "On or before this date, matched against whichever date a record has (issued, else filed).",
              "title": "Date Before"
            },
            "description": "On or before this date, matched against whichever date a record has (issued, else filed)."
          },
          {
            "name": "parcel",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Parcel number / APN / folio (formatting ignored). Returns permits on that parcel where the source publishes one.",
              "title": "Parcel"
            },
            "description": "Parcel number / APN / folio (formatting ignored). Returns permits on that parcel where the source publishes one."
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum estimated value",
              "title": "Min Value"
            },
            "description": "Minimum estimated value"
          },
          {
            "name": "max_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum estimated value",
              "title": "Max Value"
            },
            "description": "Maximum estimated value"
          },
          {
            "name": "min_solar_kw",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum extracted solar system size (kW DC)",
              "title": "Min Solar Kw"
            },
            "description": "Minimum extracted solar system size (kW DC)"
          },
          {
            "name": "max_solar_kw",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum extracted solar system size (kW DC)",
              "title": "Max Solar Kw"
            },
            "description": "Maximum extracted solar system size (kW DC)"
          },
          {
            "name": "min_sqft",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum square footage mentioned (from enrichment)",
              "title": "Min Sqft"
            },
            "description": "Minimum square footage mentioned (from enrichment)"
          },
          {
            "name": "has_enrichment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only permits that have (true) or lack (false) LLM enrichment",
              "title": "Has Enrichment"
            },
            "description": "Only permits that have (true) or lack (false) LLM enrichment"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Substring match on the enriched work scope",
              "title": "Scope"
            },
            "description": "Substring match on the enriched work scope"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Case-insensitive substring match across description, address, and permit number",
              "title": "Q"
            },
            "description": "Case-insensitive substring match across description, address, and permit number"
          },
          {
            "name": "contractor_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Contractor name (partial match)",
              "title": "Contractor Name"
            },
            "description": "Contractor name (partial match)"
          },
          {
            "name": "owner_filed",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "true = owner-filed permits only (no contractor on record but an owner name is present \u2014 often a DIY/homeowner lead, though for feeds that don't capture contractors the owner may be a builder or institution); false = permits that have a contractor",
              "title": "Owner Filed"
            },
            "description": "true = owner-filed permits only (no contractor on record but an owner name is present \u2014 often a DIY/homeowner lead, though for feeds that don't capture contractors the owner may be a builder or institution); false = permits that have a contractor"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Results per page. Above your plan's maximum this is clamped, not rejected; the response echoes the per_page actually applied.",
              "default": 25,
              "title": "Per Page"
            },
            "description": "Results per page. Above your plan's maximum this is clamped, not rejected; the response echoes the per_page actually applied."
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `q`.",
              "deprecated": true,
              "title": "Keyword"
            },
            "description": "Alias of `q`.",
            "deprecated": true
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_after`.",
              "deprecated": true,
              "title": "Date From"
            },
            "description": "Alias of `date_after`.",
            "deprecated": true
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_before`.",
              "deprecated": true,
              "title": "Date To"
            },
            "description": "Alias of `date_before`.",
            "deprecated": true
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_after`.",
              "deprecated": true,
              "title": "Start Date"
            },
            "description": "Alias of `date_after`.",
            "deprecated": true
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_before`.",
              "deprecated": true,
              "title": "End Date"
            },
            "description": "Alias of `date_before`.",
            "deprecated": true
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `per_page`. Clamped to your plan's maximum, not rejected.",
              "deprecated": true,
              "title": "Limit"
            },
            "description": "Alias of `per_page`. Clamped to your plan's maximum, not rejected.",
            "deprecated": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/export": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Export Permits",
        "description": "Export permits matching filters as CSV. Tier-gated row limits.",
        "operationId": "export_permits",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Zip Code"
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "City"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "State"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PermitStatus"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Status"
            }
          },
          {
            "name": "property_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/PropertyType"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Property Type"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Tag"
            }
          },
          {
            "name": "record_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "permit",
              "title": "Record Kind"
            }
          },
          {
            "name": "filed_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filed After"
            }
          },
          {
            "name": "filed_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Filed Before"
            }
          },
          {
            "name": "issued_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Issued After"
            }
          },
          {
            "name": "issued_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Issued Before"
            }
          },
          {
            "name": "date_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "On or after this date, matched against whichever date a record has (issued, else filed).",
              "title": "Date After"
            },
            "description": "On or after this date, matched against whichever date a record has (issued, else filed)."
          },
          {
            "name": "date_before",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "On or before this date, matched against whichever date a record has (issued, else filed).",
              "title": "Date Before"
            },
            "description": "On or before this date, matched against whichever date a record has (issued, else filed)."
          },
          {
            "name": "parcel",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Parcel number / APN / folio (formatting ignored).",
              "title": "Parcel"
            },
            "description": "Parcel number / APN / folio (formatting ignored)."
          },
          {
            "name": "min_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Value"
            }
          },
          {
            "name": "max_value",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Value"
            }
          },
          {
            "name": "min_solar_kw",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Solar Kw"
            }
          },
          {
            "name": "max_solar_kw",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Solar Kw"
            }
          },
          {
            "name": "min_sqft",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Sqft"
            }
          },
          {
            "name": "has_enrichment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Has Enrichment"
            }
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Scope"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Q"
            }
          },
          {
            "name": "contractor_name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Contractor Name"
            }
          },
          {
            "name": "owner_filed",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "true = owner-filed permits only (no contractor on record, owner name present \u2014 often DIY/homeowner leads, though for feeds without contractor capture the owner may be a builder/institution); false = permits that have a contractor",
              "title": "Owner Filed"
            },
            "description": "true = owner-filed permits only (no contractor on record, owner name present \u2014 often DIY/homeowner leads, though for feeds without contractor capture the owner may be a builder/institution); false = permits that have a contractor"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000000,
              "minimum": 1,
              "default": 1000,
              "title": "Limit"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `q`.",
              "deprecated": true,
              "title": "Keyword"
            },
            "description": "Alias of `q`.",
            "deprecated": true
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_after`.",
              "deprecated": true,
              "title": "Date From"
            },
            "description": "Alias of `date_after`.",
            "deprecated": true
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_before`.",
              "deprecated": true,
              "title": "Date To"
            },
            "description": "Alias of `date_before`.",
            "deprecated": true
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_after`.",
              "deprecated": true,
              "title": "Start Date"
            },
            "description": "Alias of `date_after`.",
            "deprecated": true
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alias of `date_before`.",
              "deprecated": true,
              "title": "End Date"
            },
            "description": "Alias of `date_before`.",
            "deprecated": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/sync": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Sync Permits",
        "description": "Incremental data feed (change-data-capture). Page the dataset ordered by\n(updated_at, id). Omit `cursor` for the initial full load; persist `next_cursor` and pass\nit back after each nightly ingest to receive only new + changed permits. Upsert-only\n(deletes are not emitted).",
        "operationId": "sync_permits",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opaque cursor from the previous response's `next_cursor`. Omit to start the initial full sync from the beginning.",
              "title": "Cursor"
            },
            "description": "Opaque cursor from the previous response's `next_cursor`. Omit to start the initial full sync from the beginning."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Alternative start point: an ISO-8601 UTC timestamp; returns permits with updated_at >= since. Ignored when `cursor` is supplied.",
              "title": "Since"
            },
            "description": "Alternative start point: an ISO-8601 UTC timestamp; returns permits with updated_at >= since. Ignored when `cursor` is supplied."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50000,
              "minimum": 1,
              "description": "Max permits per page (cursor page size, up to 50,000).",
              "default": 5000,
              "title": "Limit"
            },
            "description": "Max permits per page (cursor page size, up to 50,000)."
          },
          {
            "name": "record_kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "'permit' (default), a specific record_kind, or 'all'.",
              "default": "permit",
              "title": "Record Kind"
            },
            "description": "'permit' (default), a specific record_kind, or 'all'."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional 2-letter state filter to scope the feed.",
              "title": "State"
            },
            "description": "Optional 2-letter state filter to scope the feed."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional category filter (e.g. solar, roofing).",
              "title": "Category"
            },
            "description": "Optional category filter (e.g. solar, roofing)."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/events": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "List Permit Events",
        "description": "Queryable feed of permit status/date transitions (new_permit, status_change,\nissued, completed, expired), built from a daily-ingest diff. A real-time,\nhistorical, filter-scoped change feed no competitor offers below enterprise \u2014\npair it with a webhook to be alerted the moment a matching permit changes status.",
        "operationId": "list_permit_events",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by event type: new_permit, status_change, issued, completed, expired",
              "title": "Event Type"
            },
            "description": "Filter by event type: new_permit, status_change, issued, completed, expired"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Permit category (e.g. solar, battery)",
              "title": "Category"
            },
            "description": "Permit category (e.g. solar, battery)"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Jurisdiction name (partial)",
              "title": "Jurisdiction"
            },
            "description": "Jurisdiction name (partial)"
          },
          {
            "name": "permit_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Events for a single permit id",
              "title": "Permit Id"
            },
            "description": "Events for a single permit id"
          },
          {
            "name": "detected_after",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Only events detected on/after this UTC timestamp (ISO 8601)",
              "title": "Detected After"
            },
            "description": "Only events detected on/after this UTC timestamp (ISO 8601)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 50,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitEventsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/{permit_id}": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Get Permit",
        "description": "Get full details for a single permit.",
        "operationId": "get_permit",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "permit_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Permit Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/address/{address}": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Get Permits By Address",
        "description": "Get all permits for a specific address (partial match).",
        "operationId": "get_permits_by_address",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Address"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/permits/stats/coverage": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Get Coverage Stats",
        "description": "Get coverage statistics \u2014 total permits, jurisdictions, and breakdown by city.",
        "operationId": "get_coverage_stats",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ]
      }
    },
    "/v1/plays": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "List Plays",
        "description": "List available trade plays and their parameters.",
        "operationId": "list_plays",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ]
      }
    },
    "/v1/plays/system-age": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "System Age",
        "description": "Addresses whose LATEST permit in the trade is min\u2013max years old with nothing\nsince \u2014 the system is statistically due for replacement. Only trades with a real\nlifecycle are supported (roofing, hvac, mechanical, solar=repower, pool).",
        "operationId": "system_age",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "trade",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "roofing | hvac | mechanical | solar | pool",
              "title": "Trade"
            },
            "description": "roofing | hvac | mechanical | solar | pool"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "5-digit ZIP",
              "title": "Zip Code"
            },
            "description": "5-digit ZIP"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Jurisdiction name (partial)",
              "title": "Jurisdiction"
            },
            "description": "Jurisdiction name (partial)"
          },
          {
            "name": "min_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 40,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Override the trade's default minimum age",
              "title": "Min Age Years"
            },
            "description": "Override the trade's default minimum age"
          },
          {
            "name": "max_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "number",
                  "maximum": 60,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Override the trade's default maximum age",
              "title": "Max Age Years"
            },
            "description": "Override the trade's default maximum age"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plays/battery-retrofit-candidates": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Battery Retrofit Candidates",
        "description": "Solar permits aged between min/max years whose address has NO battery permit\non file \u2014 the storage-retrofit lead list. Requires a location filter.",
        "operationId": "battery_retrofit_candidates",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "5-digit ZIP",
              "title": "Zip Code"
            },
            "description": "5-digit ZIP"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Jurisdiction name (partial)",
              "title": "Jurisdiction"
            },
            "description": "Jurisdiction name (partial)"
          },
          {
            "name": "min_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 30,
              "minimum": 0,
              "description": "Minimum age of the PV permit, in years",
              "default": 2,
              "title": "Min Age Years"
            },
            "description": "Minimum age of the PV permit, in years"
          },
          {
            "name": "max_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 40,
              "minimum": 0,
              "description": "Maximum age of the PV permit, in years",
              "default": 7,
              "title": "Max Age Years"
            },
            "description": "Maximum age of the PV permit, in years"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plays/reroof-due": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Reroof Due",
        "description": "Roofing permits aged min-max years whose address has NO newer roofing permit \u2014\nhomes whose roof is statistically due for replacement. Alias of\n/v1/plays/system-age?trade=roofing (kept as the discoverable roofing-first name).",
        "operationId": "reroof_due",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "5-digit ZIP",
              "title": "Zip Code"
            },
            "description": "5-digit ZIP"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Jurisdiction name (partial)",
              "title": "Jurisdiction"
            },
            "description": "Jurisdiction name (partial)"
          },
          {
            "name": "min_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 40,
              "minimum": 1,
              "description": "Minimum age of the roofing permit, in years",
              "default": 12,
              "title": "Min Age Years"
            },
            "description": "Minimum age of the roofing permit, in years"
          },
          {
            "name": "max_age_years",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 60,
              "minimum": 1,
              "description": "Maximum age of the roofing permit, in years",
              "default": 25,
              "title": "Max Age Years"
            },
            "description": "Maximum age of the roofing permit, in years"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/plays/orphan-recovery": {
      "get": {
        "tags": [
          "Permits"
        ],
        "summary": "Orphan Recovery",
        "description": "PV permits whose installer (contractor, applicant, or owner) matches `installer`\nin a territory \u2014 a named competitor's customer base. Requires a location filter.",
        "operationId": "orphan_recovery",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "installer",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "description": "Installer name to match (contractor/applicant/owner)",
              "title": "Installer"
            },
            "description": "Installer name to match (contractor/applicant/owner)"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "zip_code",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "5-digit ZIP",
              "title": "Zip Code"
            },
            "description": "5-digit ZIP"
          },
          {
            "name": "jurisdiction",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Jurisdiction name (partial)",
              "title": "Jurisdiction"
            },
            "description": "Jurisdiction name (partial)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermitSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contractors/search": {
      "get": {
        "tags": [
          "Contractors"
        ],
        "summary": "Search Contractors",
        "description": "Search contractors by name, location, or specialty, ranked by activity score.",
        "operationId": "search_contractors",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Contractor name (partial match)",
              "title": "Name"
            },
            "description": "Contractor name (partial match)"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "2-letter state code",
              "title": "State"
            },
            "description": "2-letter state code"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City name",
              "title": "City"
            },
            "description": "City name"
          },
          {
            "name": "specialty",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specialty tag (e.g. solar, roofing, hvac)",
              "title": "Specialty"
            },
            "description": "Specialty tag (e.g. solar, roofing, hvac)"
          },
          {
            "name": "min_permits",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum total permits",
              "title": "Min Permits"
            },
            "description": "Minimum total permits"
          },
          {
            "name": "min_score",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 100,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum contractor activity score (0-100)",
              "title": "Min Score"
            },
            "description": "Minimum contractor activity score (0-100)"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Sort order: 'score' (default), 'permits', or 'recent'",
              "default": "score",
              "title": "Sort"
            },
            "description": "Sort order: 'score' (default), 'permits', or 'recent'"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractorSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contractors/{contractor_id}": {
      "get": {
        "tags": [
          "Contractors"
        ],
        "summary": "Get Contractor",
        "description": "Get a contractor's full profile with permit stats.\n\n`phone` and `email` are contractor contact fields gated to the Developer plan and up\n(see /v1/billing/plans for current pricing); on free/indie/hobbyist they return null.\n`name`, `license_number`, `specialties`, `city`/`state`/`address`, and the stats are\navailable on all plans.",
        "operationId": "get_contractor",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "contractor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Contractor Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractorProfile"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contractors/{contractor_id}/permits": {
      "get": {
        "tags": [
          "Contractors"
        ],
        "summary": "Get Contractor Permits",
        "description": "Get all permits associated with a contractor.",
        "operationId": "get_contractor_permits",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "contractor_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Contractor Id"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "default": 25,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/property/history": {
      "get": {
        "tags": [
          "Property History"
        ],
        "summary": "Get Property History",
        "description": "Complete construction history + property profile for an address.\n\nMatches every permit whose street address contains the supplied address;\npass `city`/`state`/`zip` to disambiguate the same street number across\nmetros. Returns a derived profile (permit timeline, category breakdown,\ncontractors, and underwriting signals such as solar/roof/pool age) plus\nthe paginated permit records.\n\nAn address with **no** permits returns `found: false` with an empty\nprofile (HTTP 200) \u2014 a clean property is a valid, useful answer, not an\nerror.",
        "operationId": "get_property_history",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "description": "Street address to look up (e.g. '123 Main St')",
              "title": "Address"
            },
            "description": "Street address to look up (e.g. '123 Main St')"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional city to disambiguate identical street addresses",
              "title": "City"
            },
            "description": "Optional city to disambiguate identical street addresses"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional 2-letter state code",
              "title": "State"
            },
            "description": "Optional 2-letter state code"
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 3,
                  "maxLength": 10
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional ZIP (prefix-matched)",
              "title": "Zip"
            },
            "description": "Optional ZIP (prefix-matched)"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyHistoryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/property/by-parcel": {
      "get": {
        "tags": [
          "Property History"
        ],
        "summary": "Get Property By Parcel",
        "description": "Complete construction history + property profile for a parcel / APN.\n\nLooks up every permit whose source parcel number matches `parcel`, with\nformatting ignored, so an APN from a county appraiser matches regardless of how\nthe permit feed punctuates it. Pass `state` to disambiguate the same parcel\nnumber used by different counties. Returns the same profile shape as /history\n(timeline, category breakdown, contractors, and roof/solar/HVAC age signals).\n\nParcel coverage spans the county / appraiser / GIS sources that publish a parcel\nid; a handful of Accela-sourced jurisdictions omit parcel in their public export\nand won't match here (use /property/history by address for those).\n\nA parcel with **no** permits returns `found: false` (HTTP 200), not an error.",
        "operationId": "get_property_by_parcel",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "parcel",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "description": "Parcel number / APN / folio. Formatting is ignored \u2014 dashes, dots and spaces are stripped before matching.",
              "title": "Parcel"
            },
            "description": "Parcel number / APN / folio. Formatting is ignored \u2014 dashes, dots and spaces are stripped before matching."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 2
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optional 2-letter state to disambiguate the same parcel number across counties",
              "title": "State"
            },
            "description": "Optional 2-letter state to disambiguate the same parcel number across counties"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "title": "Page"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "default": 50,
              "title": "Per Page"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PropertyHistoryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List Webhooks",
        "description": "List all your registered webhooks.",
        "operationId": "list_webhooks",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create Webhook",
        "description": "Register a webhook to be notified when new permits match your filters.\n\nAvailable on the Developer plan and above (see /v1/billing/plans for current\npricing). Maximum 10 webhooks per API key.\nWhen a new permit matches your filters, we'll POST the permit data as JSON to your URL.\nSet contractor_name to track a specific company \u2014 you'll get a POST within minutes\nof any permit they pull appearing in our data (competitor tracking).",
        "operationId": "create_webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKey": []
          }
        ]
      }
    },
    "/v1/webhooks/{webhook_id}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete Webhook",
        "description": "Delete a webhook.",
        "operationId": "delete_webhook",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/{webhook_id}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Test Webhook",
        "description": "Send a test event to a webhook URL.\n\nUseful for verifying your webhook endpoint is reachable and signature \nvalidation works. Sends a fake permit payload with event=permit.test.",
        "operationId": "test_webhook",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks/{webhook_id}/secret": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get Webhook Secret",
        "description": "Retrieve your webhook signing secret. Use this to validate signatures.\n\nThe X-PermitStack-Signature header on incoming webhook requests is the\nHMAC-SHA256 of the request body using this secret. Verify before \nprocessing to ensure the request came from PermitStack.",
        "operationId": "get_webhook_secret",
        "security": [
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "webhook_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Webhook Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "description": "Your PermitStack API key. Get one at permit-stack.com/#pricing",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "ContractorProfile": {
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "license_number": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "License Number"
          },
          "license_state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "License State"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City"
          },
          "state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State"
          },
          "total_permits": {
            "type": "integer",
            "title": "Total Permits"
          },
          "first_permit_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "First Permit Date"
          },
          "last_permit_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Last Permit Date"
          },
          "specialties": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Specialties"
          },
          "score": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Score"
          },
          "is_business": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Business"
          },
          "phone": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Phone"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Address"
          },
          "zip_code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Zip Code"
          },
          "recent_categories": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Recent Categories"
          },
          "avg_project_value": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Avg Project Value"
          }
        },
        "type": "object",
        "required": [
          "id",
          "name",
          "license_number",
          "license_state",
          "city",
          "state",
          "total_permits",
          "first_permit_date",
          "last_permit_date",
          "specialties",
          "phone",
          "email",
          "address",
          "zip_code"
        ],
        "title": "ContractorProfile"
      },
      "ContractorSearchResponse": {
        "properties": {
          "total": {
            "type": "integer",
            "title": "Total"
          },
          "page": {
            "type": "integer",
            "title": "Page"
          },
          "per_page": {
            "type": "integer",
            "title": "Per Page"
          },
          "results": {
            "items": {
              "$ref": "#/components/schemas/ContractorSummary"
            },
            "type": "array",
            "title": "Results"
          }
        },
        "type": "object",
        "required": [
          "total",
          "page",
[...]
