{"openapi":"3.1.0","info":{"title":"PermitStack","description":"\n## PermitStack Building Permit API\n\nAccess 58M+ building permits across 552 active U.S. jurisdictions (plus 51 historical archives), updated daily from official open data portals.\n\n### Getting started\n1. Sign up at [permit-stack.com](https://permit-stack.com/#pricing) for a free API key (100 req/day)\n2. Pass your key as `X-API-Key` header on every request\n3. See the `/v1/permits/search` endpoint to get started\n\n### Rate limits\nTier       | Requests/min | Requests/day\n-----------|--------------|-------------\nFree       | 30           | 100\nIndie      | 30           | 1,000\nHobbyist   | 30           | 2,500\nDeveloper  | 60           | 10,000\nStartup    | 200          | 100,000\nGrowth     | 500          | 500,000\n\n### Support\nsupport@permit-stack.com\n","termsOfService":"https://permit-stack.com/terms.html","contact":{"name":"PermitStack Support","url":"https://permit-stack.com/","email":"support@permit-stack.com"},"license":{"name":"Commercial -- see Terms","url":"https://permit-stack.com/terms.html"},"version":"1.0.0"},"servers":[{"url":"https://api.permit-stack.com","description":"Production"}],"paths":{"/health":{"get":{"tags":["Health"],"summary":"Health Check","operationId":"health_check","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/stats":{"get":{"tags":["Health"],"summary":"Public Stats","description":"Public stats endpoint — no auth required.\nReturns aggregate coverage numbers for marketing/transparency.\nCached server-side for 5 minutes.","operationId":"public_stats","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/v1/permits/search":{"get":{"tags":["Permits"],"summary":"Search Permits","operationId":"search_permits","security":[{"ApiKey":[]}],"parameters":[{"name":"zip_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"5-digit ZIP code","title":"Zip Code"},"description":"5-digit ZIP code"},{"name":"city","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"City name","title":"City"},"description":"City name"},{"name":"state","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"2-letter state code","title":"State"},"description":"2-letter state code"},{"name":"jurisdiction","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Jurisdiction name (e.g. 'Wake County', 'Tacoma') or partial match","title":"Jurisdiction"},"description":"Jurisdiction name (e.g. 'Wake County', 'Tacoma') or partial match"},{"name":"lat","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Latitude for radius search","title":"Lat"},"description":"Latitude for radius search"},{"name":"lng","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Longitude for radius search","title":"Lng"},"description":"Longitude for radius search"},{"name":"radius_miles","in":"query","required":false,"schema":{"type":"number","maximum":50,"description":"Radius in miles (used with lat/lng)","default":5.0,"title":"Radius Miles"},"description":"Radius in miles (used with lat/lng)"},{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Permit category (e.g. solar, SOLAR, roofing, hvac — case insensitive)","title":"Category"},"description":"Permit category (e.g. solar, SOLAR, roofing, hvac — case insensitive)"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/PermitStatus"},{"type":"null"}],"description":"Permit status (e.g. issued, filed, final)","title":"Status"},"description":"Permit status (e.g. issued, filed, final)"},{"name":"property_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/PropertyType"},{"type":"null"}],"description":"Property type (e.g. residential, commercial)","title":"Property Type"},"description":"Property type (e.g. residential, commercial)"},{"name":"tag","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by tag","title":"Tag"},"description":"Filter by tag"},{"name":"record_kind","in":"query","required":false,"schema":{"type":"string","description":"Record kind: 'permit' (default, building permits only), 'contractor', 'tag', 'non_building', 'admin', or 'all'","default":"permit","title":"Record Kind"},"description":"Record kind: 'permit' (default, building permits only), 'contractor', 'tag', 'non_building', 'admin', or 'all'"},{"name":"filed_after","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filed on or after this date","title":"Filed After"},"description":"Filed on or after this date"},{"name":"filed_before","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Filed on or before this date","title":"Filed Before"},"description":"Filed on or before this date"},{"name":"issued_after","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Issued on or after this date","title":"Issued After"},"description":"Issued on or after this date"},{"name":"issued_before","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Issued on or before this date","title":"Issued Before"},"description":"Issued on or before this date"},{"name":"min_value","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Minimum estimated value","title":"Min Value"},"description":"Minimum estimated value"},{"name":"max_value","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Maximum estimated value","title":"Max Value"},"description":"Maximum estimated value"},{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Full-text search query","title":"Q"},"description":"Full-text search query"},{"name":"contractor_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Contractor name (partial match)","title":"Contractor Name"},"description":"Contractor name (partial match)"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":25,"title":"Per Page"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermitSearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/permits/export":{"get":{"tags":["Permits"],"summary":"Export Permits","description":"Export permits matching filters as CSV. Tier-gated row limits.","operationId":"export_permits","security":[{"ApiKey":[]}],"parameters":[{"name":"zip_code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Zip Code"}},{"name":"city","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City"}},{"name":"state","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"State"}},{"name":"category","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Category"}},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/PermitStatus"},{"type":"null"}],"title":"Status"}},{"name":"property_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/PropertyType"},{"type":"null"}],"title":"Property Type"}},{"name":"tag","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Tag"}},{"name":"record_kind","in":"query","required":false,"schema":{"type":"string","default":"permit","title":"Record Kind"}},{"name":"filed_after","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Filed After"}},{"name":"filed_before","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Filed Before"}},{"name":"issued_after","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Issued After"}},{"name":"issued_before","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Issued Before"}},{"name":"min_value","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Min Value"}},{"name":"max_value","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Max Value"}},{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Q"}},{"name":"contractor_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Contractor Name"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":1000000,"minimum":1,"default":1000,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/permits/{permit_id}":{"get":{"tags":["Permits"],"summary":"Get Permit","description":"Get full details for a single permit.","operationId":"get_permit","security":[{"ApiKey":[]}],"parameters":[{"name":"permit_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Permit Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermitDetail"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/permits/address/{address}":{"get":{"tags":["Permits"],"summary":"Get Permits By Address","description":"Get all permits for a specific address (partial match).","operationId":"get_permits_by_address","security":[{"ApiKey":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","title":"Address"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":25,"title":"Per Page"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermitSearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/permits/stats/coverage":{"get":{"tags":["Permits"],"summary":"Get Coverage Stats","description":"Get coverage statistics — total permits, jurisdictions, and breakdown by city.","operationId":"get_coverage_stats","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"ApiKey":[]}]}},"/v1/contractors/search":{"get":{"tags":["Contractors"],"summary":"Search Contractors","description":"Search contractors by name, location, or specialty.","operationId":"search_contractors","security":[{"ApiKey":[]}],"parameters":[{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Contractor name (partial match)","title":"Name"},"description":"Contractor name (partial match)"},{"name":"state","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"2-letter state code","title":"State"},"description":"2-letter state code"},{"name":"city","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"City name","title":"City"},"description":"City name"},{"name":"specialty","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Specialty tag (e.g. solar, roofing, hvac)","title":"Specialty"},"description":"Specialty tag (e.g. solar, roofing, hvac)"},{"name":"min_permits","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Minimum total permits","title":"Min Permits"},"description":"Minimum total permits"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":25,"title":"Per Page"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContractorSearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/contractors/{contractor_id}":{"get":{"tags":["Contractors"],"summary":"Get Contractor","description":"Get a contractor's full profile with permit stats.","operationId":"get_contractor","security":[{"ApiKey":[]}],"parameters":[{"name":"contractor_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Contractor Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContractorProfile"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/contractors/{contractor_id}/permits":{"get":{"tags":["Contractors"],"summary":"Get Contractor Permits","description":"Get all permits associated with a contractor.","operationId":"get_contractor_permits","security":[{"ApiKey":[]}],"parameters":[{"name":"contractor_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Contractor Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":25,"title":"Per Page"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/property/history":{"get":{"tags":["Property History"],"summary":"Get Property History","description":"Get the complete construction history for a property address.\n\nReturns all permits ever filed at or near this address, sorted by date.\nUseful for insurance underwriting, real estate due diligence, and property valuation.","operationId":"get_property_history","security":[{"ApiKey":[]}],"parameters":[{"name":"address","in":"query","required":true,"schema":{"type":"string","minLength":3,"description":"Street address to look up","title":"Address"},"description":"Street address to look up"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/webhooks/":{"get":{"tags":["Webhooks"],"summary":"List Webhooks","description":"List all your registered webhooks.","operationId":"list_webhooks","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"security":[{"ApiKey":[]}]},"post":{"tags":["Webhooks"],"summary":"Create Webhook","description":"Register a webhook to be notified when new permits match your filters.\n\nAvailable on Starter ($49/mo) and above. Maximum 10 webhooks per API key.\nWhen a new permit matches your filters, we'll POST the permit data as JSON to your URL.","operationId":"create_webhook","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookCreate"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"ApiKey":[]}]}},"/v1/webhooks/{webhook_id}":{"delete":{"tags":["Webhooks"],"summary":"Delete Webhook","description":"Delete a webhook.","operationId":"delete_webhook","security":[{"ApiKey":[]}],"parameters":[{"name":"webhook_id","in":"path","required":true,"schema":{"type":"string","title":"Webhook Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/webhooks/{webhook_id}/test":{"post":{"tags":["Webhooks"],"summary":"Test Webhook","description":"Send a test event to a webhook URL.\n\nUseful for verifying your webhook endpoint is reachable and signature \nvalidation works. Sends a fake permit payload with event=permit.test.","operationId":"test_webhook","security":[{"ApiKey":[]}],"parameters":[{"name":"webhook_id","in":"path","required":true,"schema":{"type":"string","title":"Webhook Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/webhooks/{webhook_id}/secret":{"get":{"tags":["Webhooks"],"summary":"Get Webhook Secret","description":"Retrieve your webhook signing secret. Use this to validate signatures.\n\nThe X-PermitStack-Signature header on incoming webhook requests is the\nHMAC-SHA256 of the request body using this secret. Verify before \nprocessing to ensure the request came from PermitStack.","operationId":"get_webhook_secret","security":[{"ApiKey":[]}],"parameters":[{"name":"webhook_id","in":"path","required":true,"schema":{"type":"string","title":"Webhook Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"CheckoutRequest":{"properties":{"plan":{"type":"string","title":"Plan"},"billing":{"type":"string","title":"Billing","default":"monthly"},"promo_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Promo Code"},"email":{"type":"string","title":"Email"},"name":{"type":"string","title":"Name"}},"type":"object","required":["plan","email","name"],"title":"CheckoutRequest"},"CheckoutResponse":{"properties":{"checkout_url":{"type":"string","title":"Checkout Url"},"api_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Api Key"},"message":{"type":"string","title":"Message"}},"type":"object","required":["checkout_url","message"],"title":"CheckoutResponse"},"ContractorProfile":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"license_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"License Number"},"license_state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"License State"},"city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City"},"state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"State"},"total_permits":{"type":"integer","title":"Total Permits"},"first_permit_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"First Permit Date"},"last_permit_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Last Permit Date"},"specialties":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Specialties"},"phone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone"},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"},"address":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address"},"zip_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Zip Code"},"recent_categories":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Recent Categories"},"avg_project_value":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Avg Project Value"}},"type":"object","required":["id","name","license_number","license_state","city","state","total_permits","first_permit_date","last_permit_date","specialties","phone","email","address","zip_code"],"title":"ContractorProfile"},"ContractorSearchResponse":{"properties":{"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"per_page":{"type":"integer","title":"Per Page"},"results":{"items":{"$ref":"#/components/schemas/ContractorSummary"},"type":"array","title":"Results"}},"type":"object","required":["total","page","per_page","results"],"title":"ContractorSearchResponse"},"ContractorSummary":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"license_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"License Number"},"license_state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"License State"},"city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City"},"state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"State"},"total_permits":{"type":"integer","title":"Total Permits"},"first_permit_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"First Permit Date"},"last_permit_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Last Permit Date"},"specialties":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Specialties"}},"type":"object","required":["id","name","license_number","license_state","city","state","total_permits","first_permit_date","last_permit_date","specialties"],"title":"ContractorSummary"},"CreateKeyRequest":{"properties":{"email":{"type":"string","format":"email","title":"Email"},"first_name":{"type":"string","maxLength":100,"minLength":1,"title":"First Name"},"last_name":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Last Name"},"company":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Company"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"}},"type":"object","required":["email","first_name"],"title":"CreateKeyRequest"},"CreateKeyResponse":{"properties":{"api_key":{"type":"string","title":"Api Key"},"key_prefix":{"type":"string","title":"Key Prefix"},"name":{"type":"string","title":"Name"},"tier":{"type":"string","title":"Tier"},"rate_limit_per_minute":{"type":"integer","title":"Rate Limit Per Minute"},"rate_limit_per_day":{"type":"integer","title":"Rate Limit Per Day"},"message":{"type":"string","title":"Message"}},"type":"object","required":["api_key","key_prefix","name","tier","rate_limit_per_minute","rate_limit_per_day","message"],"title":"CreateKeyResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"PermitDetail":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"permit_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Permit Number"},"status":{"type":"string","title":"Status"},"category":{"type":"string","title":"Category"},"tags":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags"},"property_type":{"type":"string","title":"Property Type"},"address_street":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address Street"},"address_city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address City"},"address_state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address State"},"address_zip":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address Zip"},"description_raw":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description Raw"},"estimated_value":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Estimated Value"},"date_filed":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Date Filed"},"date_issued":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Date Issued"},"date_completed":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Date Completed"},"contractor_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Contractor Name"},"jurisdiction_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Jurisdiction Name"},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude"},"enrichment":{"anyOf":[{"$ref":"#/components/schemas/PermitEnrichment"},{"type":"null"}]},"date_expired":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Date Expired"},"fee_amount":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Fee Amount"},"stories":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Stories"},"units":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Units"},"square_footage":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Square Footage"},"applicant_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Applicant Name"},"owner_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Owner Name"},"contractor_license":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Contractor License"},"created_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Created At"}},"type":"object","required":["id","permit_number","status","category","tags","property_type","address_street","address_city","address_state","address_zip","description_raw","estimated_value","date_filed","date_issued","date_completed","date_expired","fee_amount","stories","units","square_footage","applicant_name","owner_name"],"title":"PermitDetail"},"PermitEnrichment":{"properties":{"scope":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Scope"},"work_summary":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Work Summary"},"solar_kw":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Solar Kw"},"sqft":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Sqft"},"units":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Units"},"is_residential":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Residential"},"is_commercial":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Commercial"},"materials":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Materials"}},"type":"object","title":"PermitEnrichment","description":"Curated subset of the offline LLM enrichment (permits.enriched_data).\n\nPresent only on the ~1-2% of permits that have been enriched so far\n(prioritized toward SOLAR/ROOFING/NEW_CONSTRUCTION). null otherwise."},"PermitSearchResponse":{"properties":{"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"per_page":{"type":"integer","title":"Per Page"},"results":{"items":{"$ref":"#/components/schemas/PermitSummary"},"type":"array","title":"Results"}},"type":"object","required":["total","page","per_page","results"],"title":"PermitSearchResponse"},"PermitStatus":{"type":"string","enum":["filed","issued","in_progress","final","expired","cancelled","revoked","unknown"],"title":"PermitStatus"},"PermitSummary":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"permit_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Permit Number"},"status":{"type":"string","title":"Status"},"category":{"type":"string","title":"Category"},"tags":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags"},"property_type":{"type":"string","title":"Property Type"},"address_street":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address Street"},"address_city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address City"},"address_state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address State"},"address_zip":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Address Zip"},"description_raw":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description Raw"},"estimated_value":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Estimated Value"},"date_filed":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Date Filed"},"date_issued":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Date Issued"},"date_completed":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Date Completed"},"contractor_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Contractor Name"},"jurisdiction_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Jurisdiction Name"},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude"},"enrichment":{"anyOf":[{"$ref":"#/components/schemas/PermitEnrichment"},{"type":"null"}]}},"type":"object","required":["id","permit_number","status","category","tags","property_type","address_street","address_city","address_state","address_zip","description_raw","estimated_value","date_filed","date_issued","date_completed"],"title":"PermitSummary"},"PortalRequest":{"properties":{"email":{"type":"string","title":"Email"}},"type":"object","required":["email"],"title":"PortalRequest"},"PortalVerifyRequest":{"properties":{"email":{"type":"string","title":"Email"},"code":{"type":"string","title":"Code"}},"type":"object","required":["email","code"],"title":"PortalVerifyRequest"},"PropertyType":{"type":"string","enum":["residential","commercial","industrial","mixed_use","institutional","unknown"],"title":"PropertyType"},"RecoverKeyRequest":{"properties":{"email":{"type":"string","title":"Email"}},"type":"object","required":["email"],"title":"RecoverKeyRequest"},"SavedSearchCreate":{"properties":{"name":{"type":"string","maxLength":200,"minLength":1,"title":"Name"},"params":{"additionalProperties":true,"type":"object","title":"Params"},"notify_email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notify Email"},"frequency":{"type":"string","pattern":"^(off|daily|weekly)$","title":"Frequency","default":"off"}},"type":"object","required":["name"],"title":"SavedSearchCreate"},"SavedSearchResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"params":{"additionalProperties":true,"type":"object","title":"Params"},"notify_email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notify Email"},"frequency":{"type":"string","title":"Frequency"},"last_notified_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Notified At"},"last_match_count":{"type":"integer","title":"Last Match Count"},"is_active":{"type":"boolean","title":"Is Active"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","name","params","notify_email","frequency","last_notified_at","last_match_count","is_active","created_at"],"title":"SavedSearchResponse"},"SavedSearchUpdate":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"params":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Params"},"notify_email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notify Email"},"frequency":{"anyOf":[{"type":"string","pattern":"^(off|daily|weekly)$"},{"type":"null"}],"title":"Frequency"}},"type":"object","title":"SavedSearchUpdate"},"SupportRequest":{"properties":{"name":{"type":"string","maxLength":100,"minLength":1,"title":"Name"},"email":{"type":"string","format":"email","title":"Email"},"category":{"type":"string","title":"Category","description":"question | bug | feature | billing | data | other"},"subject":{"type":"string","maxLength":200,"minLength":3,"title":"Subject"},"message":{"type":"string","maxLength":5000,"minLength":10,"title":"Message"},"company":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"title":"Company"}},"type":"object","required":["name","email","category","subject","message"],"title":"SupportRequest"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"VerifyCodeRequest":{"properties":{"email":{"type":"string","title":"Email"},"code":{"type":"string","title":"Code"}},"type":"object","required":["email","code"],"title":"VerifyCodeRequest"},"WebhookCreate":{"properties":{"url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Url"},"city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City"},"state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"State"},"category":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Category"},"zip_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Zip Code"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"}},"type":"object","required":["url"],"title":"WebhookCreate"}},"securitySchemes":{"ApiKey":{"type":"apiKey","description":"Your PermitStack API key. Get one at permit-stack.com/#pricing","in":"header","name":"X-API-Key"}}},"tags":[{"name":"Permits","description":"Search and retrieve building permits"},{"name":"Contractors","description":"Search contractors and see their permit history"},{"name":"Property History","description":"Get permit history for a specific address"},{"name":"Webhooks","description":"Subscribe to real-time permit events (paid tiers)"},{"name":"Health","description":"Service health checks"}]}